*{
    margin:0;
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(45, 143, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40vh;
    height: 60vh;
    background: rgb(223, 198, 59);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'a a'
    'b b'
    'c d'
    'e f'
    'g h';
}

.item1{
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.item2{
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.item3{
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item4{
    grid-area: d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item5{
    grid-area: e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item6{
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item7{
    grid-area: g;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item8{
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photocircle{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    margin-right: 40px;
}

li{
    padding: 10px 10px;
    margin: 10px;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: rgb(71, 71, 71);
}

#icon{
    font-size: 50px;
    padding: 60px 65px;
    background: rgb(223, 198, 59);
    border-radius: 160px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.411);
}

#icon2{
    font-size: 50px;
    padding: 60px 65px;
    background: rgb(223, 198, 59);
    border-radius: 160px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.411);
    animation: animacja 2s normal forwards ease-in-out;
}

a:hover{    
    color: rgba(0, 0, 0, 0.753);
}

@keyframes animacja{
    0%{
       transform: translateX(0px) translateY(0px);
    }
    100%{
       transform: translateX(190px) translateY(-90px) scale(0.5); 
    }
}

